# Site wide configuration

title: "Phyloreferencing"
description: "Website for the Phyloreferencing Project."
logo: Phyloref-logo-120px.png # 120x120 px default image used for Twitter summary card
teaser: Phyloref-logo-400x250px.png # 400x250 px default teaser image used in image archive grid
icon: favicon.ico
locale: en
url: http://www.phyloref.org
feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-email-protect


# Site owner
owner:
  name: "Phyloreferencing Project"
  web: "http://phyloref.org"
  email: "admin@phyloref.org"
  twitter: phyloref
  google:
    ad-client:
    ad-slot:
  bio: Precise, portable and fully computable clade definitions
  avatar: Phyloref-logo-square-160px.png
  disqus-shortname:


include:
  - .htaccess
  - _pages
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
  - Dockerfile
  - serve-local.sh

defaults:
  -
    scope:
      path: ""
    values:
      ads: false
  -
    scope:
      path: "_posts/blog"
      type: "posts"
    values:
      category: "blog"
      permalink: /:categories/:year/:month/:title/
