{% if page.date %}<div class="page-meta">
	<p><span class="badge">{{ site.data.messages.locales[site.locale].published }}:</span> <i class="fa fa-calendar fa-lg"></i> <time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time>
  {% if page.modified %} &middot; <span class="badge inverse">{{ site.data.messages.locales[site.locale].updated }}</span> <i class="fa fa-calendar fa-lg"></i> <time datetime="{{ page.modified | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="dateModified">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}
  {% if page.tags %}<span class="badge">Tags: </span> <i class="fa fa-tags fa-lg"></i> {{ page.tags | join: ", " }}</p>{% endif %}
</div><!-- /.page-meta -->{% endif %}